app-popular {
  .popular-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .popular-item-container {
    width: 300px;
    margin-right: 10px;
  }
  .popular-item-image {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
    }
  }
}
