app-category {
  .app-category-container {
    display: flex;
  }
  .category-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .category-item-container {
    width: 300px;
    margin-right: 10px;
  }
  .category-item-image {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
    }
  }
}
